.searchPage {
    display: flex;
    justify-content: center;
    background-color: #ebf1f6;

    /* border: solid blue 3px; */
}


/*#region Для кнопок вверху */
.searchPage__info {
    padding: 20px;
  }

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
}

.searchPage__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}
/*#endregion */

@media (max-width: 450px) {
    .searchPage {
        justify-content: left;
        width: fit-content;
    }

    /* .column {
        float: left;
        width: 46%;
      } */    
}    
