.searchResult {
    display: flex;
    position: relative;
    margin: 10px;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    /* cursor: pointer; */
    background-color: #fff;
    border-radius: 10px;
  
    width: 800px;
    /* border: solid black 1px; */

      box-shadow: 0px 1px 2px rgba(57 86 107 / 20%), 0px 4px 12px rgba(57 86 107 / 10%);
  }
  /* .searchResult:hover {
    opacity: 0.8;
  } */
  
  .searchResult > img {
    /* height: 200px; */
    /* width: 350px; */
    height: 190px;
    width: 300px;
  
    border-radius: 10px;
    overflow: hidden;
  }
  
  .searchResult__info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-left: 15px;
    width: 600px;
  
    /* border: solid blue 1px; */
  }
  
  .searchResult__infoTop {
    padding: 0;
    /* border: solid black 1px; */
  }
  .searchResult__infoTop_p {
    margin: 0px;
    font-size: 13px;
    color: #39566b;
  }
  
  .searchResult__infoTop_div1 {
    display: flex;
  
    /* border: solid black 1px; */
  }
  .searchResult__infoTop_div1 > h3 {
    color: #39566b;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    margin-right: 10px;
  
    /* border: solid black 1px; */
  }
  .searchResult__infoTop_div1 > span {
    color: #f89f03;
    font-size: 16px;
    /* font-weight: 600; */
    margin: 0px;
    padding-top: 5px;
    /* border: solid black 1px; */
  }
  
  .searchResult__infoTop_div2 {
    display: flex;
    float: right;
    margin-top: 5px;
    text-align: right;
  
    /* border: solid black 1px; */
  }
  
  .searchResult__infoTop_span {
    font-size: 13px;
    color: #1daf6d;
  }
  .searchResult__infoBottom {
    /* margin-top: 5px; */
    display: flex;
    justify-content: space-between;
    color: #39566b;
  
    /* margin-top: -10px; */
  
    /* border: solid rgb(248, 6, 6) 1px; */
  }
  
  
  .searchResult__infoBottomLeft {
    /* width: 37vw; */
    width: 360px;
  
    /* border: solid green 1px; */
  }
  .searchResult__infoBottomLeft > div {
    margin-top: 15px;
    display: flex;
    height: 22px;
  
    /* border: solid green 1px; */
  }
  
  .searchResult__infoBottomLeft > div > span {
    /* margin-top: 3px; */
    font-size: 13px;
    color: gray;
    width: 75px;
    height: 20px;
  
    /* border: solid rgb(20, 5, 153) 1px; */
  }
  
  .searchResult__infoBottomLeft > div > p {
    margin-top: -1px;
  
    font-size: 14px;
    font-weight: 600;
  
    /* border: solid rgb(192, 3, 50) 1px; */
  }
  
  .searchResult__infoBottomRight {
    padding: 0;
    /* border: solid green 1px; */
  }
  
  .searchResult__infoBottomRight > p {
    margin: 0px;
    font-size: 13px;
    color: gray;
  }
  
  .searchResult__infoBottomRight > p:first-of-type {
    margin-top: 10px;
    color: #39566b;
    font-size: 24px;
    font-weight: 600;
  }
  
  .searchResult__infoBottomRight > button {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  @media (max-width: 850px) {
    .searchResult {
      flex-direction: column;
      align-items: center;
      width: 400px;
    }
    
    .searchResult > img {
      height: 220px;
      width: 100%;
    }
    
    .searchResult__info {
      padding-left: 5px;
      width: 400px;
    }
  
    .searchResult__infoBottom {
      display: flex;
      flex-direction: column;
    }
     
    .searchResult__infoBottomLeft {
      width: 100%;
    }
    .searchResult__infoBottomLeft > div {
      margin-top: 0px;
      display: flex;
      height: 22px;
    }
    
    .searchResult__infoBottomRight {
      padding: 0;
    }
  
    .searchResult__infoBottomRight > p {
      margin: 0px;
      font-size: 13px;
      color: gray;
    }
  
    .searchResult__infoBottomRight > p:first-of-type {
      margin-top: 5px;
      font-weight: 700;
    }
      
    .searchResult__infoBottomRight > button {
      position: absolute;
      bottom: 18px;
      right: 5px;
      height: 45px;    
    }
  }  
  