.react_container-slider {
  position: relative;
  height: 190px;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;

  border-radius: 10px;
}
.react_slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.8s;
}
.react_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.showme {
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
}
.react_container-slider:hover .showme {
  opacity: 1;
  visibility: visible;
  
  /* z-index: 100; */
}

.react_btn-slide {
  display: flex;
  position: absolute;
  top: 45%;
  height: 20px;
  width: 20px;
  justify-content: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  
  transition: transform ease-in 0.55s;
  opacity: 0.6;
  transition: 0.55s opacity;

  border: none;
}
.react_btn-slide:hover {
  background: white;

  opacity: 0.9;
  transform: scale(1.1);
}

.react_btn-slide img {
  width: 15px;
  height: 15px;
}
/* .react_btn-slide img:hover {
  outline: 0;
} */

.react_prev {
  left: 10px;
}
.react_prev img{
  transform: translateX(-1px);
}

.react_next {
  right: 10px;
}
.react_next img{
  transform: translateX(1px);
}


.react_container-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react_dot {
  width: 5px;
  height: 5px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}
.react_dot.active {
  width: 8px;
  height: 8px;
  opacity: 1;
}

@media (max-width: 850px) {
  .react_container-slider {
    width: 400px;
    height: 220px;
  }

  
  .react_btn-slide {
    top: 42%;
    height: 30px;
    width: 30px;
  }
  
  .react_btn-slide img {
    width: 20px;
    height: 20px;
  }
  
  .react_prev {
    left: 15px;
  }
  .react_prev img{
    transform: translateX(-2px);
  }
  
  .react_next {
    right: 15px;
  }
  .react_next img{
    transform: translateX(2px);
  }
  
  .react_dot {
    width: 7px;
    height: 7px;
  }
  .react_dot.active {
    width: 9px;
    height: 9px;
  }
  
}
